@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
	--margins-default: 2.5rem;
	--color-text-disclaimer: #666;
	--color-text-main: #581121;
	--color-text-display: #e96b0b;

	--color-border: #cab593;

	--font-display: normal 3.7rem/1 "Fredoka One", sans-serif;

	--color-bg-1: #fff1dc;
	--color-bg-2: #db4c40;

	--border-radius: 6px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font: normal 10px/1.5 Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: radial-gradient(#df3c20, #e68a26);
}

body {
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 65rem;
	padding: 0 var(--margins-default) var(--margins-default);
	border-radius: var(--border-radius);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.34);
}

h1 {
	margin: 2.3rem 0 0rem;
	color: var(--color-text-display);
	font: var(--font-display);
}

h2 {
	margin: 1rem 0 0;
	color: var(--color-text-display);
	font: var(--font-display);
	font-size: 2.8rem;
}

body > figure {
	margin: 0 calc(var(--margins-default) * -1);
	order: -1;
}

body > figure > img {
	height: 40rem;
	width: 100%;
	object-fit: cover;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

figure {
	margin: 0;
}

figure > figcaption {
	display: none;
}

p,
ul,
ol {
	font-size: 2rem;
}

li:first-of-type,
li:last-of-type {
	margin-top: 0;
}

li {
	margin: 1rem 0;
	line-height: 1.4;
}

li::marker {
	color: var(--color-text-display);
}

.description img {
	width: 100%;
}

.variation {
	margin-top: 0;
	font-size: 1.8rem;
	font-weight: bold;
	font-style: italic;
	background-color: #118ddf;
	color: #fff;
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;
	/* font-family: 'Fredoka One', sans-serif; */
}
