<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ERROR</title>
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'><link rel="stylesheet" href="./css/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./css/error.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="board">
  <p id="error">
    error
  </p>
  <p id="code">
    f0x
  </p>
</div>
<!-- partial -->
  <script src='./js/jquery/2.1.3/jquery.min.js'></script>
  <script  src="./js/error.js"></script>
</body>
</html>