<!DOCTYPE html>

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFFFFFFF0X</title>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="./img/ffffffff0x-64.ico" type="image/x-icon">
	<link type="text/css" rel="stylesheet" href="./css/index.css">
</head>

<h1>JVWA 代码审计学习环境</h1>
<figure>
	<img src="./img/stephane-wootha-richard-february-01.jpg">
</figure>

<div class="description">
	<p>简简单单,没有套路</p>
	<figure>
		<img src="./img/3.gif">
	</figure>
</div>

</br>

<h2>信息泄漏</h2>
<div class="recipe_details">
	<ul>
		<li>spring actuator</a></li>
		<li><a href="/actuator">/actuator</a></li>
		<li><a href="/actuator/env">/actuator/env</a></li>
		<li><a href="/actuator/heapdump">/actuator/heapdump</a></li>
		<li><a href="/actuator/mappings">/actuator/mappings</a></li>
		<li><a href="/actuator/prometheus">/actuator/prometheus</a></li>
		<li>swagger</a></li>
		<li><a href="/swagger-resources">/swagger-resources</a></li>
		<li><a href="/swagger-ui.html">/swagger-ui.html</a></li>
		<li><a href="/v2/api-docs">/v2/api-docs</a></li>
		<li>druid</a></li>
		<li><a href="/druid/login.html">/druid/login.html</a></li>
	</ul>
</div>

<h2>spel注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
		<li><a href="/spel?exec=1">/spel?exec=1</a></li>
	</ul>
</div>

<h2>mysql注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
		<li><a href="/sqlinj/mysql/getbyid/1">/sqlinj/mysql/getbyid/1</a></li>
	</ul>
</div>

<h2>postgresql注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
		<li><a href="/sqlinj/postgre/getbyid/1">/sqlinj/postgre/getbyid/1</a></li>
	</ul>
</div>

<h2>url跳转</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</li>
		<li><a href="/redirect/1?url=https://home.ffffffff0x.com">/redirect/1?url=https://home.ffffffff0x.com</a></li>
		<li>可以被绕过的白名单案例</li>
		<li><a href="/redirect/2?url=https://home.ffffffff0x.com">/redirect/2?url=https://home.ffffffff0x.com</a></li>
		<li>反斜杠绕过</li>
		<li><a href="/redirect/3?url=https://home.ffffffff0x.com">/redirect/3?url=https://home.ffffffff0x.com</a></li>
        <li>安全案例</li>
		<li><a href="/redirect/safe?url=https://home.ffffffff0x.com">/redirect/safe?url=https://home.ffffffff0x.com</a></li>

    </ul>
</div>

<h2>SSRF</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</li>
		<p>/ssrf/1?url=https://home.ffffffff0x.com</p>
		<li><a href="/ssrf/1?url=https://home.ffffffff0x.com">/ssrf/1?url=https://home.ffffffff0x.com</a></li>
		<li>重定向绕过</li>
		<li><a href="/ssrf/2?url=https://home.ffffffff0x.com">/ssrf/2?url=https://home.ffffffff0x.com</a></li>
		<li>安全案例</li>
		<li><a href="/ssrf/safe?url=https://home.ffffffff0x.com">/ssrf/safe?url=https://home.ffffffff0x.com</a></li>
	</ul>
</div>

<h2>SSTI(Thymeleaf)</h2>
<div class="recipe_details">
	<ul>
		<li>return可控(预处理)</li>
		<li><a href="/ssti/1?name=zhang3&name2=lisi">/ssti/1?name=zhang3&name2=lisi</a></li>
		<li>视图名称可控</li>
		<li><a href="/ssti/2?name=zhang3">/ssti/2?name=zhang3</a></li>
	</ul>
</div>

<h2>文件上传</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤/黑名单过滤/白名单过滤/安全案例</a></li>
		<li><a href="/upload">/upload</a></li>
	</ul>
</div>

<h2>来源ip</h2>
<div class="recipe_details">
	<ul>
		<li>getRemoteAddr</a></li>
		<li><a href="/ipinfo/remote">/ipinfo/remote</a></li>
		<li>X-Real-IP/X-Forwarded-For</a></li>
		<li><a href="/ipinfo/xxf">/ipinfo/xxf</a></li>
		<li>getRemoteAddr+X-Real-IP/X-Forwarded-For</a></li>
		<li><a href="/ipinfo/realIp">/ipinfo/realIp</a></li>
	</ul>
</div>

<h2>信息泄露</h2>
<div class="recipe_details">
	<ul>
		<li>aksk信息泄露</a></li>
		<li><a href="/infoleak/aksk">/infoleak/aksk</a></li>
	</ul>
</div>

<p class="variation">提示: 参考配套教程</p>