<!DOCTYPE html>

<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFFFFFFF0X</title>
    <meta charset="UTF-8">
	<link rel="shortcut icon" href="./img/ffffffff0x-64.ico" type="image/x-icon">
	<link type="text/css" rel="stylesheet" href="./css/index.css">
</head>

<h1>JVWA 代码审计学习环境</h1>
<figure>
	<img src="./img/stephane-wootha-richard-february-01.jpg">
</figure>

<div class="description">
	<p>简简单单,没有套路</p>
	<figure>
		<img src="./img/3.gif">
	</figure>
</div>

</br>

<h2>信息泄漏</h2>
<div class="recipe_details">
	<ul>
		<li>spring actuator</a></li>
			<p>/actuator</p>
			<p>/actuator/env</p>
			<p>/actuator/heapdump</p>
			<p>/actuator/mappings</p>
			<p>/actuator/prometheus</p>
		<li>swagger</a></li>
			<p>/swagger-resources</p>
			<p>/swagger-ui.html</p>
			<p>/v2/api-docs</p>
		<li>druid</a></li>
			<p>/druid/login.html</p>
	</ul>
</div>

<h2>spel注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
			<p>/spel?exec=1</p>
	</ul>
</div>

<h2>mysql注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
			<p>/sqlinj/mysql/getbyid/1</p>
	</ul>
</div>

<h2>postgresql注入</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</a></li>
			<p>/sqlinj/postgre/getbyid/1</p>
	</ul>
</div>

<h2>url跳转</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</li>
            <p>/redirect/1?url=https://home.ffffffff0x.com</p>
		<li>可以被绕过的白名单案例</li>
            <p>/redirect/2?url=https://home.ffffffff0x.com</p>
		<li>反斜杠绕过</li>
            <p>/redirect/3?url=https://home.ffffffff0x.com</p>
        <li>安全案例</li>
            <p>/redirect/safe?url=https://home.ffffffff0x.com</p>
    </ul>
</div>

<h2>SSRF</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</li>
		<p>/ssrf/1?url=https://home.ffffffff0x.com</p>
		<li>重定向绕过</li>
		<p>/ssrf/2?url=https://home.ffffffff0x.com</p>
		<li>安全案例</li>
		<p>/ssrf/safe?url=https://home.ffffffff0x.com</p>
	</ul>
</div>

<h2>SSTI</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤</li>
		<p>/ssti?name=1&name2=1</p>
	</ul>
</div>

<h2>文件上传</h2>
<div class="recipe_details">
	<ul>
		<li>无过滤/黑名单过滤/白名单过滤/安全案例</a></li>
			<p>/upload</p>
	</ul>
</div>

<p class="variation">提示: 参考配套教程</p>