<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="./test.css">
</head>
<body>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="content">
    <div class="content__container">
        <p class="content__container__text">
            Hello
        </p>

        <ul class="content__container__list">
            <li class="content__container__list__item">world !</li>
            <li class="content__container__list__item">张三 !</li>
            <li class="content__container__list__item">李四 !</li>
            <li class="content__container__list__item">everybody !</li>
        </ul>
    </div>
</div>
</body>
</html>